#pic{
  height: 60vh;
  margin-right: 2em;
  margin-top: 40px;
}

p{
  font-size: 1.22em;
  margin-top: 1.2em;
}

.about__text h1{
  font-size: 5em;
}

#about__wrapper{
  padding: 10vw;
  display: flex;
}

@media only screen and (max-width : 950px){
  #about__wrapper{
    flex-direction: column;
  }
  #about__wrapper p{
    font-size: 1.8em;
  }
  #pic{
    
    height: 30vh;
    margin-right: 2em;
    margin-top: 40px;
  }
}