#contact__wrapper{
  min-height: 100vh;
  width: 100vw;
  padding: 10vw;
  padding-top: 8vw;
  padding-bottom: 0px;
  display: flex;
}
#contact__wrapper h1{
  font-size: 4em;
  font-family: var(--text-main);
  font-weight: 400;
}
#img__img{
  height: 80vh;
  margin-right: 2.5em;
  border-right: 4px solid var(--lighter);
  transition: all 0.4s;
}
#img__img:hover{
  border-right: 4px solid var(--text);
}

.fab{
  color: var(--lighter);
  font-size: 2em;
  padding-right: 2em;
  padding-top: 2em;
  transition: all 0.4s;
}

.fab:hover{
  color: var(--text);
}