.navbar__container{
  border-top: 2px solid var(--text);
  width: 100vw;
  padding: 1em 10vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: var(--dark);
  z-index: 99999;
}

#to_home{
  text-decoration: none;
}

#logo h1 , #logo h2{
  font-family: var(--text-main);
  font-weight: 400;
}

ul{
  display: flex;
  text-decoration: none;
  list-style: none;
}

.scrolling_effect{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.322) 0px 1px 2px 0px;
}

ul li a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 1em;
  padding-top: 2em;
  letter-spacing: 0.8px;
  font-weight: 500;
}

ul li a:focus , #resume , ul li a:active{
  background-color: var(--text);
  color: var(--dark);
}

.navbar__mobile{
  display: none;
}

#naving{
  background: none;
  border: none;
  padding: 10px;
  font-size: 1.5em;
  position: absolute;
  left: 0%;
}

@media only screen and (max-width: 950px) {
  .navbar__container{
    display: none;
  }
  .navbar__mobile{
    display: block;
    position: fixed;
    height: 100vh;
    width: 290px;
    background-color: var(--lighter);
    color: var(--dark);
    right: -260px;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
     
  ul{
    flex-direction: column;
  }
  #resume{
    background-color: transparent;
    color: var(--text);
  }
  ul li a:focus , ul li a:active{
    background-color: transparent;
  }
  ul li a{
    padding: 0%;
  }
  ul li{
    padding: 0px;
    margin-bottom: 1em;
    font-size: 1.2em;
  }
  .fa-chevron-left:hover{
    color: (--dark);
  }
}